<!DOCTYPE html>
<html>
<head>

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Appdemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendor/modernizr', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/bienvenido_header'%>
<<<<<<< Updated upstream
=======
     
      <div class="row">
        <div class="large-12 columns">

          <ul class="example-orbit" data-orbit>
  <li>
    <img src="http://www.i-decoracion.com/Uploads/i-decoracion.com/ImagenesGrandes/decoracion-japonesa-9.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li class="active">
    <img src="http://www.decorablog.com/wp-content/2014/06/Salones-minimalistas18.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="http://www.decopasion.com/Imagenes/decoracion-mediterranea.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
      
        </div>
>>>>>>> Stashed changes



<%= yield :carrusel%>

      </div>
      
     
     
      <div class="row">
      	<%= yield %>

   <%= link_to "Comenta", new_task_path, remote: :true, class: "button sucess small" %>     
   <div id="new_task"></div>
   

   <%= link_to "VER COMENTARIOS", tasks_path %>    
       

        </div>
        


    <div class="row">
        <div class="large-12 columns" >
        
          <div class="panel" style="margin-top:10px;">
            <h4>¿Necesitas ayuda?</h4>
                
            <div class="row">
              <div class="large-9 columns">
                <p>Floor-u te ofrece  un servicio de atención al cliente lo más efectivo posible. Mándanos un correo y te responderemos en la mayor brevedad posible. Gracias ¡Pincha en contacto!</p>
              </div>
              <div class="large-3 columns">
<<<<<<< Updated upstream
                <%= link_to 'Contacto', bienvenido_contacto_path, class: "radius button right" %> 


            
=======
                <%= link_to 'Contacto', bienvenido_aboutus_path, class: "radius button right" %>
              
>>>>>>> Stashed changes


              </div>
            </div>
          </div>
          
        </div>
      </div>       
      
<%= render 'layouts/bienvenido_footer'%>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html> 




